.subscribe-button {
  color: $light-text-color;
  background-color: $accent-color;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 216px;
  text-align: center;
  @include centeredFlex(flex);
  gap: 10px;
  padding: 10px;

  transition: color 250ms $transition-timing-function,
    background-color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}

.subscribe-button__icon {
  display: block;
}
