.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-size: 28px;
  @include desktop {
    font-size: 36px;
  }
  font-weight: 700;
  line-height: 1.17;
}
