@mixin centeredFlex($display: flex, $justCont: center) {
  display: $display;
  align-items: center;
  justify-content: $justCont;
}

@mixin font($fw: 400, $fs: 16, $lh: 1.17, $ls: 0.03) {
  font-weight: $fw;
  font-size: $fs + px;
  line-height: $lh;
  letter-spacing: $ls + em;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina-2x {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
