$dark-text-color: #212121;
$medium-text-color: #757575;
$light-text-color: #ffffff;
$accent-color: #2196f3;
$light-background-color: #f5f5f5;
$main-font: "Roboto", sans-serif;
$primary-icon-color: #afb1b8;
$transition-duration: color 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
