.subscribe {
  @include desktop {
    text-align: left;
    max-width: 570px;
  }
}
.subscribe__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-text-color;
  margin-bottom: 20px;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.subscribe__label {
  margin-right: 12px;
  width: 100%;
}

.subscribe__input {
  width: 100%;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }

  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 16px;
  margin: 0 auto 20px;
  color: $light-text-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    @include centeredFlex($justCont: null);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
