.footer {
  position: relative;
  background-color: #2f303a;
  text-align: center;
  padding: 60px 0;
  @include tablet {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 60px;
      @include desktop {
        max-width: 520px;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 auto 20px;
  }
  .footer-address-section {
    @include tablet {
      margin-right: 165px;
    }
    @include desktop {
      margin-right: 70px;
    }

    .footer__container {
      display: flex;
      align-items: baseline;
      @include desktop {
        flex-wrap: nowrap;
      }
    }
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}
