.subscribe__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-text-color;
  margin-bottom: 20px;
}

.subscribe__container {
  display: flex;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 16px;
  color: $light-text-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
