.footer {
  position: relative;
  background-color: #2f303a;
  text-align: center;
  padding: 60px 0;
  @include tablet {
    // padding: 60px 76px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 auto 20px;
  }

  @include desktop {
    .footer-section:first-child {
      margin-right: 70px;
    }

    .footer__container {
      display: flex;
      align-items: baseline;
    }
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}
