.footer-invitation {
  margin-right: 93px;
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-text-color;
  }
  &__soc-list {
    @include centeredFlex(flex);
    margin-top: 20px;
    gap: 10px;
  }
  &__soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include centeredFlex(flex);
    background-color: rgba(255, 255, 255, 0.1);
    fill: $light-text-color;
    transition: background-color 250ms $transition-timing-function,
      fill 250ms $transition-timing-function;
    &:hover,
    &:hover {
      background-color: $accent-color;
    }
  }
}
