.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  &__item {
    display: block;
    margin-bottom: 9px;
  }

  &__map-link {
    @extend %link;
    color: $light-text-color;
    transition: color 250ms $transition-timing-function;
    margin-bottom: 9px;
    &:focus,
    &:hover {
      color: $accent-color;
    }
  }

  &__link {
    @extend %link;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms $transition-timing-function;
    &:not(:nth-last-child(n)) {
      margin-bottom: 9px;
    }
    &:focus,
    &:hover {
      color: $accent-color;
    }
  }
}
