.page-header {
  position: relative;
  background-color: $light-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  min-height: 80px;
  // 80px - задал в 8.1 Репета. без него работало
  @include centeredFlex($justCont: space-between);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  // margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  // @include tablet {
  //   display: none;
  // }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: $light-text-color;
    display: flex;
    &.is-hidden {
      display: block;
    }
  }
  @include tablet {
    gap: 70px;
  }

  @include desktop {
    gap: 315px;
    justify-content: space-between;
    align-items: center;
  }
}
// flex-direction: column;
// flex-grow: 1;

// @media screen and (max-width: 767px) {
//   position: absolute;
//   display: none;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   padding: 48px 40px;

.menu-wrapper {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__unit:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    @extend %link;
    position: relative;
    color: $dark-text-color;
    font-weight: 500;
    line-height: 1.13;
    font-size: 32px;
    @include mobile {
      font-size: 40px;
      line-height: 1.15;
    }

    @include tablet {
      font-size: 14px;
      line-height: 1.14;
    }
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $transition-timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.site-nav__link--current {
  color: $accent-color;
  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      content: "";
      border-radius: 2px;
      margin-bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      opacity: 1;
    }
  }
}

.auth-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 30px;
    margin: 64px 0;
  }
  @include tablet {
    flex-direction: column;

    gap: 10px;
    padding: 17px 0;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    @include desktop {
      gap: 50px;
      justify-content: flex-end;
    }
  }
  &__link {
    @media screen and (max-width: 767px) {
      font-weight: 500;
      &--tel {
        font-size: 24px;
        @include mobile {
          font-size: 36px;
        }
        color: $accent-color;
        line-height: 1.18;
      }
      &--mail {
        font-size: 22px;
        @include mobile {
          font-size: 24px;
        }
        line-height: 1.17;
        color: $medium-text-color;
      }
    }
    //   position: relative;
    display: block;
    @extend %link;
    position: relative;
    // display: flex;
    align-items: center;
    color: $medium-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    @include tablet {
      flex-direction: row;
      font-size: 12px;
      line-height: 1.17;
    }
    letter-spacing: 0.02em;
    transition: color 250ms $transition-timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @include desktop {
      padding: 12px 0;
    }
  }
}

.auth-nav__icon {
  @media screen and (max-width: 767px) {
    fill: $light-text-color;
    margin-right: 0;
  }
  @include tablet {
    fill: $medium-text-color;
    margin-right: 10px;
  }
  fill: $medium-text-color;
  margin-right: 10px;
  .auth-nav__link & {
    transition: fill 250ms $transition-timing-function;
  }
  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $accent-color;
  }
}
