.page-header {
  background-color: $light-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin: 0;
  &__unit:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    @extend %link;
    position: relative;
    color: $dark-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $transition-timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--current {
      color: $accent-color;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        content: "";
        border-radius: 2px;
        margin-bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        opacity: 1;
      }
    }
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;
  &__item {
    display: flex;
    justify-content: center;
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $transition-timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item {
    & + & {
      margin-left: 50px;
    }
  }
}

.auth-nav__icon {
  fill: $medium-text-color;
  margin-right: 10px;
  .auth-nav__link & {
    transition: fill 250ms $transition-timing-function;
  }
  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $accent-color;
  }
}
