.hero {
  color: $light-text-color;
  text-align: center;
  background-color: #2f303a;
  margin: 0 auto;

  height: 400px;
  padding: 118px 24px;
  @include mobile {
    padding: 118px 60px;
  }
  @include desktop {
    padding: 200px 60px;
    height: 600px;
    max-width: 1600px;
  }

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-image.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  padding: 0;
  width: 100%;
  @include tablet {
    width: 768px;
    padding: 0 15px;
  }
  @include desktop {
    width: 1200px;
  }
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.62;
  @include mobile {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 360px;
  }

  margin: 0 auto 30px;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
